<div class="mt-4">
    <%= form_with(url: movie_reviews_path(movie_id: movie.tmdb_id), 
                model: MovieReview.new) do |form| %>

        <%# Review Text %>
        <div class="mb-4">
            <%= form.text_area :content, 
                rows: 4, 
                placeholder: "Add a review...",
                class: "w-full bg-neutral-800 text-primary-400 border border-neutral-700 rounded-md px-3 py-2 placeholder:text-neutral-500 focus:ring-primary-500 focus:border-primary-500" %>
        </div>

        <%= form.submit "Post", 
            class: "px-4 py-2 bg-primary-500 text-white rounded-md hover:bg-primary-600 transition-colors cursor-pointer" %>
    <% end %>
</div>